name: Make subtitles STT

on:
  repository_dispatch:
    types: [make_subs_stt]

jobs:
  r2_test:
    runs-on: ubuntu-latest
    steps:
      - name: Show payload
        run: |
          echo "Triggered OK"
          echo '${{ toJson(github.event.client_payload) }}'

      - name: Install awscli
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: R2 list bucket (TEST)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: auto
          R2_ENDPOINT: https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com
          R2_BUCKET: ${{ secrets.R2_BUCKET }}
        run: |
          aws --endpoint-url "$R2_ENDPOINT" s3 ls "s3://$R2_BUCKET"

